@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-grow-1: grow 0.75s ease-in-out infinite alternate;
  --animate-grow-2: grow 0.75s ease-in-out infinite alternate 0.3s;
  --animate-grow-3: grow 0.75s ease-in-out infinite alternate 0.6s;
  --animate-grow-4: grow 0.75s ease-in-out infinite alternate 0.9s;
  --animate-grow-5: grow 0.75s ease-in-out infinite alternate 1.2s;
  --animate-move-out-1: moveOut1 1s ease-in-out infinite alternate;
  --animate-move-out-2: moveOut2 1s ease-in-out infinite alternate;
  --animate-move-out-3: moveOut3 1s ease-in-out infinite alternate;
  --animate-move-out-4: moveOut4 1s ease-in-out infinite alternate;
  --animate-second-counter: timeCounter 2s linear infinite;
  --animate-minute-counter: timeCounter 60s linear infinite;
}

/* Wave Loader */
@keyframes grow {
  from {
    transform: scaleY(1);
    background-color: oklch(45.7% 0.24 277.023);
  }
  to {
    transform: scaleY(5);
    background-color: oklch(59.2% 0.249 0.584);
  }
}

/* Center Square Loader */
@keyframes moveOut1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -100%);
    background-color: oklch(87.9% 0.169 91.605);
    border-radius: 50%;
  }
}

@keyframes moveOut2 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(+100%, -100%);
    background-color: oklch(76.8% 0.233 130.85);
    border-radius: 50%;
  }
}

@keyframes moveOut3 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, +100%);
    background-color: oklch(58.6% 0.253 17.585);
    border-radius: 50%;
  }
}

@keyframes moveOut4 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(+100%, +100%);
    background-color: oklch(54.6% 0.245 262.881);
    border-radius: 50%;
  }
}

/* Clock Spinner Start */
@keyframes timeCounter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
